html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("../images/prism.png");
    font-size: 20px;
    color: #777;
}

body, wrapper {
    min-height:100vh;
 }

footer {
    position: abosolute;
    bottom: 0;
    height: 75px;
    background-color: #666666;
    color: #eeeeee;
    border-style: solid;
    border-width: 8px 0 0 0;
    border-color: #4aaaa5
}

.nav-link {
    color: #777;
}

.container, .navbar, .navbar-brand {
    padding: 0;
}

.body-container {
    width: 95%;
    max-width: 800px;
    background-color: white;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.footer-container {
    height: 100%;
    padding: 15px 0;
}

.page-titles {
    color: #4aaaa5;
    border-style: inset;
    border-width: 0 0 2px 0;
    border-color: #999999;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.portfolio-img {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.img-banner {
    width: 100%;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 0;
}

#name {
    background-color: #4aaaa5;
    padding: 10px 30px;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

.flex-fill{

}
@media screen and (max-width: 766px) {
    
    .navbar > .container{
        justify-content: center;
    }

    .body-container {
        margin: 30px auto;
    }

    .navbar-brand{
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #name {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {

    .navbar > .container{
        justify-content: center;
    }

    .body-container {
        width: 100%;
        margin: 30px auto;
        padding: 20px 10px;
    }

    .navbar-brand{
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #name {
        width: 100%;
    }
}